{# empty Twig template #}

            <!-- Single Section 1
            ==================================================================== -->
            <div id="single-section-1" class="single-section white-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Title Block -->
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                <!-- Title Block Container -->
                                <div class="title-block-container text-center">

                                    <!-- Title -->
                                    <h1 class="sm-heading">{% trans %}single_title{% endtrans %}</h1>

                                    <!-- Line Separator -->
                                    <div class="line-separator"></div>

                                </div><!-- /End Title Block Container -->
                            </div><!-- /End Title Block -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-012.jpg')}}" title="Smart ForTwo" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-012.jpg')}}" alt="Smart ForTwo" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-013.jpg')}}" title="Smart ForTwo" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-013.jpg')}}" alt="Smart ForTwo" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-014.jpg')}}" title="Smart ForTwo" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-014.jpg')}}" alt="Smart ForTwo" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-015.jpg')}}" title="Smart ForTwo" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-015.jpg')}}" alt="Smart ForTwo" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-016.jpg')}}" title="Smart ForTwo" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-016.jpg')}}" alt="Smart ForTwo" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-017.jpg')}}" title="Smart ForTwo" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-017.jpg')}}" alt="Smart ForTwo" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- separator -->
                            <div class="clearfix padding-top-30"></div>


                            <!-- Content Block -->
                            <div class="col-md-12 content-block">
                                <!-- Content Block Container -->
                                <div class="content-block-container">

                                    <!-- Description -->
                                    <p>{% trans %}single_description{% endtrans %}</p>

                                </div><!-- /End Content Block Container -->
                            </div><!-- /End Content Block -->


                            <!-- Car Block -->
                            <div class="col-md-12 car-block">
                                <!-- Car Block Container -->
                                <div class="car-block-container">

                                    <!-- Description -->
                                    <ul class="row">
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-car"></i>{% trans %}single_description_car{% endtrans %}</li>
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-male"></i>{% trans %}single_description_male{% endtrans %}</li>
                                        {#<li class="col-md-6 col-sm-6"><i class="fa fa-suitcase"></i>2 Suitcases</li>#}
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-shopping-bag"></i>{% trans %}single_description_shopping_bag{% endtrans %}</li>
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-sliders"></i>{% trans %}single_description_sliders{% endtrans %}</li>
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-asterisk"></i>{% trans %}single_description_asterisk{% endtrans %}</li>
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-dollar"></i>{% trans %}single_description_dollar{% endtrans %}</li>
                                    </ul>

                                </div><!-- /End Car Block Container -->
                            </div><!-- /End Car Block -->


                            <!-- Button Block -->
                            <div class="col-md-12 button-block">
                                <!-- Button Block Container -->
                                <div class="button-block-container text-center">

                                    <!-- Buttons -->
                                    <a href="#contact-section-22" title="{% trans %}hero_rent_now{% endtrans %}" class="btn btn-gfort wave-effect">{% trans %}hero_rent_now{% endtrans %}</a>

                                </div><!-- /End Button Block Container -->
                            </div><!-- /End Button Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div><!-- /End Single Section 1 -->