{# empty Twig template #}

            <!-- Single Section 1
            ==================================================================== -->
            <div id="single-section-1" class="single-section white-section">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- Title Block -->
                            <div class="col-lg-10 col-lg-offset-1 col-md-12 title-block">
                                <!-- Title Block Container -->
                                <div class="title-block-container text-center">

                                    <!-- Title -->
                                    <h1 class="sm-heading">Smart ForTwo</h1>

                                    <!-- Line Separator -->
                                    <div class="line-separator"></div>

                                </div><!-- /End Title Block Container -->
                            </div><!-- /End Title Block -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-012.jpg')}}" title="Peugeot 308" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-012.jpg')}}" alt="Image Block" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-013.jpg')}}" title="Peugeot 308" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-013.jpg')}}" alt="Image Block" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-014.jpg')}}" title="Peugeot 308" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-014.jpg')}}" alt="Image Block" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-015.jpg')}}" title="Peugeot 308" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-015.jpg')}}" alt="Image Block" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-016.jpg')}}" title="Peugeot 308" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-016.jpg')}}" alt="Image Block" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- col-md-4 -->
                            <div class="col-md-4 col-sm-6">

                                <!-- Image Block -->
                                <div class="image-block">
                                    <!-- Image Block Container -->
                                    <div class="image-block-container">

                                        <!-- fancybox -->
                                        <a href="{{ asset('bundles/app/images/car-rent/car-rent-017.jpg')}}" title="Peugeot 308" class="fancybox" data-fancybox-group="fancybox-car-gallery-1">
                                            <img src="{{ asset('bundles/app/images/car-rent/thumbs/car-rent-thumbs-017.jpg')}}" alt="Image Block" />
                                        </a>

                                    </div><!-- /End Image Block Container -->
                                </div><!-- /End Image Block -->

                            </div><!-- /End col-md-4 -->


                            <!-- separator -->
                            <div class="clearfix padding-top-30"></div>


                            <!-- Content Block -->
                            <div class="col-md-12 content-block">
                                <!-- Content Block Container -->
                                <div class="content-block-container">

                                    <!-- Description -->
                                    <p>Talvez só percebas que estás sentado num carro pequeno pelos lugares de estacionamento diminutos onde cabes sem problemas. O interior, em todo o caso, mostra-se surpreendentemente generoso em todos os aspetos: o visual e o toque dos materiais, assim como o traçado consequente da linha de design são um prazer a cada quilómetro.</p>

                                </div><!-- /End Content Block Container -->
                            </div><!-- /End Content Block -->


                            <!-- Car Block -->
                            <div class="col-md-12 car-block">
                                <!-- Car Block Container -->
                                <div class="car-block-container">

                                    <!-- Description -->
                                    <ul class="row">
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-car"></i>3 Portas</li>
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-male"></i>2 Passageiros</li>
                                        {#<li class="col-md-6 col-sm-6"><i class="fa fa-suitcase"></i>2 Suitcases</li>#}
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-shopping-bag"></i>2 Malas</li>
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-sliders"></i>Transmição manual/sequencial</li>
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-asterisk"></i>Ar condicionado disponivel</li>
                                        <li class="col-md-6 col-sm-6"><i class="fa fa-dollar"></i>25.00€ / DIA</li>
                                    </ul>

                                </div><!-- /End Car Block Container -->
                            </div><!-- /End Car Block -->


                            <!-- Button Block -->
                            <div class="col-md-12 button-block">
                                <!-- Button Block Container -->
                                <div class="button-block-container text-center">

                                    <!-- Buttons -->
                                    <a href="#" title="Reserve Now" class="btn btn-gfort wave-effect">RESERVAR JÁ</a>

                                </div><!-- /End Button Block Container -->
                            </div><!-- /End Button Block -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->


                </div><!-- /End Section Container -->
            </div><!-- /End Single Section 1 -->