<!DOCTYPE html>
<!--[if IE 9 ]>    <html lang="{{app.request.locale}}" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{app.request.locale}}" class="no-js"> <!--<![endif]-->


    <!-- head
    ============================================================================ -->
    <head>

<!-- hreflang for language -->
            <link rel="alternate" hreflang="pt" href="{{ path('homepage', { '_locale': 'pt' }) }}" />
    <link rel="alternate" hreflang="en" href="{{ path('homepage', { '_locale': 'en' }) }}" />
        <meta itemprop="inLanguage" content="{{app.request.locale}}" />

        

        <!-- Basic Info
        ======================================================================== -->
        <title>{% trans %}website_title{% endtrans %}</title>
        <meta charset="utf-8" />
        <meta name="author" content="Smart 2 Rent" />
        <meta name="robots" content="index follow" />
        <meta name="googlebot" content="index follow" />
        <meta name="keywords" content="{% trans %}website_keywords{% endtrans %}" />
        <meta name="description" content="{% trans %}website_description{% endtrans %}" />
        <meta name="title" content="{% trans %}website_title{% endtrans %}" />

        <!-- Mobile Configurations
        ======================================================================== -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

        <!-- fav and icons for Mobile
        ======================================================================== -->
        {#<link rel="shortcut icon" href="images/icons/favicon.ico" />#}
        <link rel="shortcut icon" href="{{ asset('bundles/app/images/icons/favicon.ico')}}" />
        
        
{#        <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="images/icons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="images/icons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="images/icons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="images/icons/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-touch-icon-180x180.png" />#}

        <!-- Google Fonts
        ======================================================================== -->
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700' rel='stylesheet' type='text/css'>

        <!--  CSS Files
        ======================================================================== -->
        <link rel="stylesheet" href="{{ asset('bundles/app/js/vendor/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/app/fonts/font-awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/social-icons.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/app/js/plugins/swiper/css/swiper.min.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/app/js/plugins/mediaelement/css/mediaelementplayer.min.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/app/js/plugins/fancybox/jquery.fancybox.min.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/app/js/plugins/wow/css/animate.min.css')}}">

        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css')}}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/responsive.css')}}">

        <!--  Head JS Libs
        ======================================================================== -->
        <script src="{{ asset('bundles/app/js/vendor/modernizr-custom.js')}}"></script>

        
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122093359-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122093359-1');
</script>

        

    </head><!-- /End head -->




    <!-- body
    ============================================================================ -->
    <body>
        <!-- Loader Block
        ======================================================================== -->
{#        <div class="loader-block">
            <!-- Loader Block Container -->
            <div class="loader-block-container">

                <div class="circle-block circle-block-style-5"></div>

            </div><!-- /End Loader Block Container -->
        </div><!-- /End Loader Block -->#}

        <!-- UP Button
        ======================================================================== -->
        <div id="up-button"><a href="javascript:void(0)" title="To Top"><i class="fa fa-angle-up"></i></a></div>

        <!-- Main Wrapper
        ======================================================================== -->
        <div id="main-wrapper">

        {% block body %}{% endblock %}

    </div><!-- /End Main Wrapper -->

    <!-- Java Script Files
    ======================================================================== -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/plugins/mobile/mobile.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/scripts.js')}}"></script>


</body>
</html>