{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contacts list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Choosecar</th>
                <th>Pickuplocation</th>
                <th>Dropofflocation</th>
                <th>Pickupdate</th>
                <th>Pickuptime</th>
                <th>Dropoffdate</th>
                <th>Dropofftime</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('admin_contact_show', { 'id': contact.id }) }}">{{ contact.name }}</a></td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.chooseCar }}</td>
                <td>{{ contact.pickupLocation }}</td>
                <td>{{ contact.dropoffLocation }}</td>
                <td>{{ contact.pickupDate }}</td>
                <td>{{ contact.pickupTime }}</td>
                <td>{{ contact.dropoffDate }}</td>
                <td>{{ contact.dropoffTime }}</td>
                <td>{{ contact.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_contact_show', { 'id': contact.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_contact_edit', { 'id': contact.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_contact_new') }}">Create a new contact</a>
        </li>
    </ul>
{% endblock %}
